Source: ros-kinetic-sophus-ros-conversions
Section: misc
Priority: extra
Maintainer: Daniel Stonier <d.stonier@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin, ros-kinetic-cmake-modules, ros-kinetic-ecl-build, ros-kinetic-geometry-msgs, ros-kinetic-sophus
Homepage: 
Standards-Version: 3.9.2

Package: ros-kinetic-sophus-ros-conversions
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-cmake-modules, ros-kinetic-ecl-build, ros-kinetic-geometry-msgs, ros-kinetic-sophus
Description: Conversions between ros and sophus.
